@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
/* Use the above font:    font-family: 'Sniglet', cursive; */

* {
    margin: 0;
    @font-face {
        font-family: "Bell-MT";
        src: url("./fonts/Bell-MT.ttf");
    }
}

body {
    font-family: Bell-MT;
}

.bg-img {
    background-image: linear-gradient(to top, rgba(4, 9, 9, 0.445), rgba(117, 19, 93, 0.73)),url("../assets/Background_edited.jpg");
    height: 120vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -5;
}
  

.navbar-nav {
    margin-left: 50%;
}

.navbar-brand {
    margin-left: 5%;
}

.bg-text {
    justify-content: center;
    text-align: center;
    margin-top: 235px;
    font: bolder;
    animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

/* mobile view */

@media screen and (min-width: 480px) {
    .bg-text {
      text-align: center;
      font: bolder;
      animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
    }
  }

  .faded {
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.text {
    font-family: 'Sniglet', cursive;
    font-size: 60px;
    text-shadow: 5px 5px 3px black;
}


.second-bg {
  background-image: url("../assets/HD-wallpaper-black-purple-circle-abstract.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

hr {
  width: 20%; 
  height: 2.5px; 
  background-color: #471235;
  margin-left: 39%;
}

.services-line {
  width: 20%; 
  height: 2.5px; 
  background-color: #471235;
  margin-left: 41%;
}

@media (min-width: 1025px) and (max-width: 1280px){
  .services > lottie-player {
    margin-left: 200px !important;
  }
}

 

